@tailwind base;
@tailwind components;
@tailwind utilities;
@import "form_create.css";
@import "auth-card.css";
@import"card.css";
@import"footer.css";
@import"home-admin";
@import"info-admin";
@import "div_panel_admin";

.text_login {
    color: rgb(255, 255, 255);
    font-family: "Audiowide", cursive;
    text-decoration: none;
}

.navbar {
    background-color: chocolate;
    color: rgb(255, 255, 255);
    font-family: "Audiowide", cursive;
    display:flex;
    width: 100%;
}

.admin-img{
    display: flex;
    flex-direction: column;
}
.logo_factoria {
    width: 9rem;
    margin-left: 2rem;
}

.container-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-box {
    width: 100%;
    min-width: 1534px;
}

button.btn {
    background-color: chocolate;
}


img.lupa {
    width: 2vw;
}

.img_admin {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-image: url(https://trello.com/1/cards/63218e5381220f006137b952/attachments/6321f8b716a664034740dc68/download/defecto.png);
    background-size: contain;
    background-position: center;
    min-width: 150px;
}

.container_img_admin {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
