@tailwind base;
@tailwind components;
@tailwind utilities;
@import "form_create.css";
@import "auth-card.css";
@import "card.css";
@import"panel_admin";
@import "home_admin";
@import "navbar";
@import "footer.css";
@import "info_admin";
@import "welcome.css";
@import "means.css";
@import "form-register";
@import "format_panel";
@import "form_edit";

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{

}

