@tailwind base;
@tailwind components;
@tailwind utilities;
@import "form_create.css";
@import "auth-card.css";
@import"card.css";
@import"footer.css";
@import"home-admin";
@import"info-admin";
@import "div_panel_admin";
@import "navbar.css";

.text_login {
    color: rgb(255, 255, 255);
    font-family: "Audiowide", cursive;
    text-decoration: none;
}
.container-video {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-box {
    width: 100%;
    min-width: 1534px;
}
button.btn {
    background-color: F4540F;
}
img.lupa {
    width: 2vw;
}

