h1{
    text-align: center;
    font-family: "Audiowide", cursive;
    margin-top: 8%;
    
}

h3{
    color:chocolate;
    font-family: "Audiowide", cursive;
    
}


.panel_item{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    
}


.imagen_panel{
    width: 60%;
    height: 60%;
}

.card_border{
    border: none;
    text-align: center;
}