.copiright {
    
    width: 100%;
    height: 8vh;
    padding-top: 1vh;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #f4540f;
    justify-content: center;
    font-family: "Audiowide";
<<<<<<< HEAD
    bottom: 0;
    position: absolute;
=======
    font-size:calc(0.5vw + 0.6vh);

>>>>>>> develop
}

p{
    font-size: small;
}


html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

