.foro_container{
    background-image: url('public\assets\foro.jpeg');
    background-color: pink;
} 


.foro_image{
    opacity: 0.5;
    position:absolute;
}

.foro_text{
    background-color: aquamarine;
}