.home_admin_container {
    text-align: center;
}
.masRecientes {
    margin-top: 2vh;

    color: black;
    font-family: "Audiowide", cursive;
}
.detail{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:2vh;
}


