.img_admin {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-size: contain;
    background-position: center;
    margin: 4rem;
}
.container_img_admin {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
.btn_select_file {
    text-decoration: none;
}
button.btn.btn-editar {
    background-color: rgb(1, 153, 170);
    border-radius: 15px;
    width: 5rem;
}
button.btn.btn-eliminar {
    background-color: rgb(170, 1, 1);
    border-radius: 15px;
    width: 5rem;
}
.container-edit-delete {
    display: flex;
    justify-content: space-between;
}

.text-login {
    color:black;
    font-family: "Audiowide", cursive;
    text-decoration: none;
}
