.navbar {
    background-color: #F4540F;
    color: rgb(255, 255, 255);
    font-family: "Audiowide", cursive;
}
.logo_factoria {
    width: 9rem;
    margin-left: 2rem;
}
.text_login{
    color:white;
    text-decoration:none;
}
