.navbar {
    background-color: #F4540F;
    color: rgb(255, 255, 255);
    font-family: "Audiowide", cursive;
}
.logo_factoria {
    width: 9rem;
    margin-left: 1rem;
}
.text_login{
    color:white;
    text-decoration:none;
}
.img-user{
    width:40px;
    height:40px;
    border-radius:50px;
    margin-right:1vw;

}

 form div .search_input{
    width: 30vh;
    height: 1vh;
    border:1px solid white;

} 
a.text_login:hover
{
    color:black;
}

