.title_panel_admin{
    text-align:center;
}
.panel_admin {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
    display: flex;
}
.title-option-admin{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: "Audiowide", cursive;
}
@media only screen and (max-width: 600px) {
    .panel_admin {
        display: flex;
        flex-wrap: wrap;
    }
}

.title_panel_admin {
    color: black;
    padding-top: 2vh;
    font-size: 2rem;
    font-family: "Audiowide", cursive;
}
.option-admin {
    padding: 2rem;
    width: 30%;
    min-width: 280px;
}
